@model VidlyTest.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<p>
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        
        @{//if customer birthday exists display it else display nothing }
    </ul>
</p>

