@model VidlyTest.ViewModels.RentalFormViewModel
@{
    ViewBag.Title = "RentalForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Id == 0)
{
    <h2>New Rental</h2>
}
else
{
    <h2>Edit Rental</h2>
}

